<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">

    <!-- LOAD LEAFLET -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""/>
    <!-- Make sure you put this AFTER Leaflet's CSS -->
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""></script>
    <!-- END LEAFLET -->

    <!-- your custom styles -->
    <link rel="stylesheet" href="../static/css/custom.css"/>

    <title>{{Title}}</title>
</head>
<body>
    <h1>{{Title}}</h1>

    <div id="map_container" style = "width:900px; height:580px;"></div>
    <br>
    
    Show/Hide unit informations:<br>
    <!--Toggle button to control the display of the tooltips with unit informations -->
    <span class="toggle">
        <input type="checkbox" onclick="toggle_button()" id="toggle_button">
        <label data-off="&#10006;" data-on="&#10004;"></label>
    </span>

    <!-- required custom tools -->
    <script src="../static/js/utils.js"></script>
    <!-- load the map and manage events relative to -->
    <script src="../static/js/map.js"></script>

</body>
</html>
